*.csproj
!website/Documentation~/**/*.csproj
*.csproj.meta

# Documentation builds
website/site~/
website/docs~/api/
website/Documentation~/api/
website/Documentation~/**/*.meta
website/Documentation~/**/bin/
website/Documentation~/**/obj/
website/Documentation~/**/*.dll
website/Documentation~/**/*.pdb
website/Documentation~/**/*.deps.json
website/Documentation~/**/obj/**/*.cs
website/Documentation~/**/obj/**/*.cache
website/Documentation~/**/obj/**/*.editorconfig
website/Documentation~/**/obj/**/*.txt
